#@screen({"title":"客户端查询"})  
    #datagrid({
        "id":"adhostaccountadorderTable",  
        "name":"adhostaccountadorderTable",  
        "bindFormName":"adhostaccountadordersearchForm",  
        "title":"查询列表",    
        "autoLoad":true,  
        "url":"/adhostaccountadorder/listadhostaccountadorder.json",  
		   "buttons":[{"label":"新增","cls":"add","event":"add()"} ],
        "items":[ 
            {"name":"adOrderId",
            "text":"adOrderId",  
            "hAlign":"center",  
            "tAlign":"center",
                "hidden":true
            },

            {"name":"accountId",  
            "text":"accountId",  
            "hAlign":"center",  
            "tAlign":"center" ,
                "hidden":true
            },

            {"name":"adHostId",  
            "text":"adHostId",  
            "hAlign":"center",  
            "tAlign":"center",
                "hidden":true
            },

            {"name":"adOrderType",  
            "text":"订单类型",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"hitCount",  
            "text":"点击量",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"showCount",  
            "text":"浏览量",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"adOrderStausCn",
            "text":"订单状态",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"adHostAmount",  
            "text":"广告金额",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"stmasterAmount",  
            "text":"站长金额",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"platAmount",  
            "text":"平台盈利",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"createTime",  
            "text":"创建时间",
            "hAlign":"center",  
            "tAlign":"center"  
            },

			{
                "name":"operation",  
                "text":"操作",  
                "hAlign":"center",  
                "tAlign":"center",  
                "hidden":false,  
                "width":"200",  
                "buttons":[{"label":"修改","event":"edit"},{"label":"删除","event":"del"}]
			}
        ],  
        "numbercolumn":"true",  
        "pageConfig":{"pageSize":10,"pageNo":1},  
        "rowSelect":"false",  
        "hasPage":"true"
       })
            
    #@window({"title":"编辑窗口", "name":"adhostaccountadorderEdit", "width":"750", "height":"250",  
            "buttons":[  
                {"label":"提交","event":"saveData()","className":"u-btn-primary"},  
                {"label":"重置","event":"resetDataForm()"}  
            ]})  
        #@form({"name":"adhostaccountadorderEditForm","url":""})  
            #@panel({})  
			                #textfield({"label":"serialVersionUID", "name":"serialVersionUID","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adOrderId", "name":"adOrderId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"accountId", "name":"accountId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adHostId", "name":"adHostId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adOrderType", "name":"adOrderType","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"hitCount", "name":"hitCount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"showCount", "name":"showCount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adOrderStaus", "name":"adOrderStaus","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adHostAmount", "name":"adHostAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"stmasterAmount", "name":"stmasterAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"platAmount", "name":"platAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"version", "name":"version","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"createTime", "name":"createTime","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"updateTime", "name":"updateTime","value":"","defValue":"","check":"required"})  
			  			  #end  
        #end  
    #end  
	
	
	    #@window({"title":"添加", "name":"adhostaccountadorderAdd", "width":"750", "height":"250",  
            "buttons":[  
                {"label":"提交","event":"addSubmit()","className":"u-btn-primary"},  
                {"label":"重置","event":"resetDataForm()"}  
            ]})  
        #@form({"name":"adhostaccountadorderAddForm","url":""})  
            #@panel({})  
                               #textfield({"label":"serialVersionUID", "name":"serialVersionUID","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adOrderId", "name":"adOrderId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"accountId", "name":"accountId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adHostId", "name":"adHostId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adOrderType", "name":"adOrderType","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"hitCount", "name":"hitCount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"showCount", "name":"showCount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adOrderStaus", "name":"adOrderStaus","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"adHostAmount", "name":"adHostAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"stmasterAmount", "name":"stmasterAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"platAmount", "name":"platAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"version", "name":"version","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"createTime", "name":"createTime","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"updateTime", "name":"updateTime","value":"","defValue":"","check":"required"})  
			              #end  
        #end  
    #end  
#end  
  
  
#jscode()  
    var action = "";  
  
      
    function add(rowData){  
        Horn.getComp("adhostaccountadorderAddForm").reset();  
        Horn.getComp("adhostaccountadorderAdd").show();  
    }  
      
    function edit(rowData){  
        rowDatarowData = rowData || Horn.getComp('adhostaccountadorderTable').getSelecteds().length && (Horn.getComp('adhostaccountadorderTable').getSelecteds())[0];  
        Horn.getComp("adhostaccountadorderEditForm").setValues(rowData.rowdata);  
        Horn.getComp("adhostaccountadorderEdit").show();  
    }  
      
    function del(rowData){  
	  Horn.Msg.confirm("确认","这是一条确认信息",function(){  
		 	 rowDatarowData = rowData || Horn.getComp('adhostaccountadorderTable').getSelecteds().length && (Horn.getComp('adhostaccountadorderTable').getSelecteds())[0];  
               var id =  rowData.rowdata.id;  
        	   	$.post("${imageServer}/adhostaccountadorder/deleteadhostaccountadorder",{"id":id},function(backData){
            		if(backData){
            			if(backData.success){
            				 Horn.getComp("adhostaccountadorderTable").load();  
            				   Horn.Tip.info("删除成功");  
            			 }else{
            				Horn.Tip.warn(backData.errorMesg); 
            			 }
            		 }
            	},"json")
        },function(){  
            log("确认框的取消执行了")  
        });
    }  
	
	function addSubmit(){
		var form = $("form[name='adhostaccountadorderAddForm']")
		var result = Horn.Validate.isFormValidate(form);
		if(!result){
			return;
		}
		Horn.getComp("adhostaccountadorderAdd").hide();  
		var data = $("form[name='adhostaccountadorderAddForm']").serializeJSON();
    	$.post("${imageServer}/adhostaccountadorder/addadhostaccountadorder",data,function(backData){
    		if(backData){
    			if(backData.success){
    				 Horn.getComp("adhostaccountadorderTable").load();  
    				 Horn.Tip.success("添加成功"); 
    			 }else{
    				Horn.Tip.warn(backData.errorMesg); 
    			 }
    		 }
    	},"json")
	}
	
    function saveData() {  
		var form = $("form[name='adhostaccountadorderEditForm']")
		var result = Horn.Validate.isFormValidate(form);
		if(!result){
			return;
		}
		Horn.getComp("adhostaccountadorderEdit").hide();  
    		//JSON.stringify($("form[name='adhostaccountadorderEditForm']").serializeJSON());
    	var data = $("form[name='adhostaccountadorderEditForm']").serializeJSON();
    	$.post("${imageServer}/adhostaccountadorder/updateadhostaccountadorder",data,function(backData){
    		if(backData){
    			if(backData.success){
    				 Horn.getComp("adhostaccountadorderTable").load();  
    				 Horn.Tip.success("更新成功"); 
    			 }else{
    				Horn.Tip.warn(backData.errorMesg); 
    			 }
    		 }
    	},"json")
    }  
      	function resetSearch(){
			Horn.getComp("adhostaccountadorderTable").baseParams={};
			 Horn.getComp("adhostaccountadorderTable").load();  
		}
      
    function queryData() {  
   		 Horn.getComp("adhostaccountadorderTable").load();  
    }  
#end  