package ${package}.service;

import java.util.List;

import ${package}.common.dao.AdPager;
import ${package}.commons.MuService;
import ${package}.dao.model.${domain};
import ${package}.vo.${domain}Vo;

/**
 * 说明:
 */
public interface ${domain}Service extends  MuService{
	${domain}Vo find(Long id);
	String insert(${domain} record);
	void delete(Long id);
	void update(${domain} task);
	List<${domain}Vo> queryList(${domain} condition);
	AdPager<${domain}Vo> queryPager(${domain} condition,int pageIndex,int rows);
}
