#@screen({"title":"客户端查询"})  
    #@form({"name":"stmastersitebillsearchForm"})  
        #@panel({"title":"查询条件"})  
			           #textfield({"label":"serialVersionUID ", "name":"serialVersionUID ","value":"","defValue":""})  
		   	           #textfield({"label":"stBillId ", "name":"stBillId ","value":"","defValue":""})  
		   	           #textfield({"label":"siteId ", "name":"siteId ","value":"","defValue":""})  
		   	           #textfield({"label":"stId ", "name":"stId ","value":"","defValue":""})  
		   	           #textfield({"label":"stBillNo ", "name":"stBillNo ","value":"","defValue":""})  
		   	           #textfield({"label":"mothOfYear ", "name":"mothOfYear ","value":"","defValue":""})  
		   	           #textfield({"label":"weekOfMonth ", "name":"weekOfMonth ","value":"","defValue":""})  
		   	           #textfield({"label":"settlementAmount ", "name":"settlementAmount ","value":"","defValue":""})  
		   	           #textfield({"label":"settlementAmountBalance ", "name":"settlementAmountBalance ","value":"","defValue":""})  
		   	           #textfield({"label":"clearAmount ", "name":"clearAmount ","value":"","defValue":""})  
		   	           #textfield({"label":"settlementTime ", "name":"settlementTime ","value":"","defValue":""})  
		   	           #textfield({"label":"hourStatus ", "name":"hourStatus ","value":"","defValue":""})  
		   	           #textfield({"label":"createTime ", "name":"createTime ","value":"","defValue":""})  
		   	           #textfield({"label":"updateTime ", "name":"updateTime ","value":"","defValue":""})  
		   	            #button_group({"buttons":[  
                {"label":"查询","event":"queryData()","className":"u-btn-primary"},  
				{"label":"重置查询","event":"resetSearch()","className":"u-btn-primary"}  
            ]})  
        #end  
    #end  
    #datagrid({  
        "id":"stmastersitebillTable",  
        "name":"stmastersitebillTable",  
        "bindFormName":"stmastersitebillsearchForm",  
        "title":"查询列表",    
        "autoLoad":true,  
        "url":"/stmastersitebill/liststmastersitebill.json",  
		   "buttons":[{"label":"新增","cls":"add","event":"add()"} ],
        "items":[ 
            {"name":"serialVersionUID",  
            "text":"serialVersionUID",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"stBillId",  
            "text":"stBillId",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"siteId",  
            "text":"siteId",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"stId",  
            "text":"stId",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"stBillNo",  
            "text":"stBillNo",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"mothOfYear",  
            "text":"mothOfYear",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"weekOfMonth",  
            "text":"weekOfMonth",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementAmount",  
            "text":"settlementAmount",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementAmountBalance",  
            "text":"settlementAmountBalance",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"clearAmount",  
            "text":"clearAmount",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementTime",  
            "text":"settlementTime",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"hourStatus",  
            "text":"hourStatus",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"createTime",  
            "text":"createTime",  
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"updateTime",  
            "text":"updateTime",  
            "hAlign":"center",  
            "tAlign":"center"  
            },


			{  
                "name":"operation",  
                "text":"操作",  
                "hAlign":"center",  
                "tAlign":"center",  
                "hidden":false,  
                "width":"200",  
                "buttons":[{"label":"修改","event":"edit"},{"label":"删除","event":"del"}]
			}
        ],  
        "numbercolumn":"true",  
        "pageConfig":{"pageSize":10,"pageNo":1},  
        "rowSelect":"false",  
        "hasPage":"true",  
        "events":[{"event":"rowClick","function":"queryTableClick"},  
                 {"event":"rowDblclick","function":"queryTableDbClick"}]  
       })  
            
    #@window({"title":"编辑窗口", "name":"stmastersitebillEdit", "width":"750", "height":"250",  
            "buttons":[  
                {"label":"提交","event":"saveData()","className":"u-btn-primary"},  
                {"label":"重置","event":"resetDataForm()"}  
            ]})  
        #@form({"name":"stmastersitebillEditForm","url":""})  
            #@panel({})  
			                #textfield({"label":"serialVersionUID", "name":"serialVersionUID","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"stBillId", "name":"stBillId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"siteId", "name":"siteId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"stId", "name":"stId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"stBillNo", "name":"stBillNo","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"mothOfYear", "name":"mothOfYear","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"weekOfMonth", "name":"weekOfMonth","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"settlementAmount", "name":"settlementAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"settlementAmountBalance", "name":"settlementAmountBalance","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"clearAmount", "name":"clearAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"settlementTime", "name":"settlementTime","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"hourStatus", "name":"hourStatus","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"createTime", "name":"createTime","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"updateTime", "name":"updateTime","value":"","defValue":"","check":"required"})  
			  			  #end  
        #end  
    #end  
	
	
	    #@window({"title":"添加", "name":"stmastersitebillAdd", "width":"750", "height":"250",  
            "buttons":[  
                {"label":"提交","event":"addSubmit()","className":"u-btn-primary"},  
                {"label":"重置","event":"resetDataForm()"}  
            ]})  
        #@form({"name":"stmastersitebillAddForm","url":""})  
            #@panel({})  
                               #textfield({"label":"serialVersionUID", "name":"serialVersionUID","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"stBillId", "name":"stBillId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"siteId", "name":"siteId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"stId", "name":"stId","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"stBillNo", "name":"stBillNo","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"mothOfYear", "name":"mothOfYear","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"weekOfMonth", "name":"weekOfMonth","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"settlementAmount", "name":"settlementAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"settlementAmountBalance", "name":"settlementAmountBalance","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"clearAmount", "name":"clearAmount","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"settlementTime", "name":"settlementTime","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"hourStatus", "name":"hourStatus","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"createTime", "name":"createTime","value":"","defValue":"","check":"required"})  
			                  #textfield({"label":"updateTime", "name":"updateTime","value":"","defValue":"","check":"required"})  
			              #end  
        #end  
    #end  
#end  
  
  
#jscode()  
    var action = "";  
  
      
    function add(rowData){  
        Horn.getComp("stmastersitebillAddForm").reset();  
        Horn.getComp("stmastersitebillAdd").show();  
    }  
      
    function edit(rowData){  
        rowDatarowData = rowData || Horn.getComp('stmastersitebillTable').getSelecteds().length && (Horn.getComp('stmastersitebillTable').getSelecteds())[0];  
        Horn.getComp("stmastersitebillEditForm").setValues(rowData.rowdata);  
        Horn.getComp("stmastersitebillEdit").show();  
    }  
      
    function del(rowData){  
	  Horn.Msg.confirm("确认","这是一条确认信息",function(){  
		 	 rowDatarowData = rowData || Horn.getComp('stmastersitebillTable').getSelecteds().length && (Horn.getComp('stmastersitebillTable').getSelecteds())[0];  
               var id =  rowData.rowdata.id;  
        	   	$.post("${imageServer}/stmastersitebill/deletestmastersitebill",{"id":id},function(backData){
            		if(backData){
            			if(backData.success){
            				 Horn.getComp("stmastersitebillTable").load();  
            				   Horn.Tip.info("删除成功");  
            			 }else{
            				Horn.Tip.warn(backData.errorMesg); 
            			 }
            		 }
            	},"json")
        },function(){  
            log("确认框的取消执行了")  
        });
    }  
	
	function addSubmit(){
		var form = $("form[name='stmastersitebillAddForm']")
		var result = Horn.Validate.isFormValidate(form);
		if(!result){
			return;
		}
		Horn.getComp("stmastersitebillAdd").hide();  
		var data = $("form[name='stmastersitebillAddForm']").serializeJSON();
    	$.post("${imageServer}/stmastersitebill/addstmastersitebill",data,function(backData){
    		if(backData){
    			if(backData.success){
    				 Horn.getComp("stmastersitebillTable").load();  
    				 Horn.Tip.success("添加成功"); 
    			 }else{
    				Horn.Tip.warn(backData.errorMesg); 
    			 }
    		 }
    	},"json")
	}
	
    function saveData() {  
		var form = $("form[name='stmastersitebillEditForm']")
		var result = Horn.Validate.isFormValidate(form);
		if(!result){
			return;
		}
		Horn.getComp("stmastersitebillEdit").hide();  
    		//JSON.stringify($("form[name='stmastersitebillEditForm']").serializeJSON());
    	var data = $("form[name='stmastersitebillEditForm']").serializeJSON();
    	$.post("${imageServer}/stmastersitebill/updatestmastersitebill",data,function(backData){
    		if(backData){
    			if(backData.success){
    				 Horn.getComp("stmastersitebillTable").load();  
    				 Horn.Tip.success("更新成功"); 
    			 }else{
    				Horn.Tip.warn(backData.errorMesg); 
    			 }
    		 }
    	},"json")
    }  
      	function resetSearch(){
			Horn.getComp("stmastersitebillTable").baseParams={};
			 Horn.getComp("stmastersitebillTable").load();  
		}
      
    function queryData() {  
   		 Horn.getComp("stmastersitebillTable").load();  
    }  
#end  