#@screen({"title":"客户端查询"})  
    #@form({"name":"stmastersitebillsearchForm"})  
        #@panel({"title":"查询条件"})  
		   	           #textfield({"label":"账单号 ", "name":"stBillNo ","value":"","defValue":""})
                         #combox({"name":"billStatus","label":"账单状态","value":"","headItem":{"label":"","value":"请选择 ..."},  "dictName": "STMASTER_SITEBILL_STATUS"})
		   	            #button_group({"buttons":[
                {"label":"查询","event":"queryData()","className":"u-btn-primary"}
            ]})
        #end  
    #end  
    #datagrid({  
        "id":"stmastersitebillTable",  
        "name":"stmastersitebillTable",  
        "bindFormName":"stmastersitebillsearchForm",  
        "title":"查询列表",    
        "autoLoad":true,
        "baseParams":{"stId":"$!request.parameterMap.stmasterId[0]"},
        "url":"/stmastersitebill/liststmastersitebill.json",  
        "items":[
            {"name":"stBillId",
            "text":"stBillId",  
            "hAlign":"center",  
            "tAlign":"center",
                "hidden":true
            },

            {"name":"siteId",  
            "text":"siteId",  
            "hAlign":"center",  
            "tAlign":"center" ,
                "hidden":true
            },

            {"name":"stId",  
            "text":"stId",  
            "hAlign":"center",  
            "tAlign":"center" ,
                "hidden":true
            },

            {"name":"stBillNo",  
            "text":"账单号",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"mothOfYear",  
            "text":"账单月",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"weekOfMonth",  
            "text":"账单周次",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementAmount",  
            "text":"应结金额",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementAmountBalance",  
            "text":"未结金额",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"clearAmount",  
            "text":"已结算金额",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementTime",  
            "text":"结算时间",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"hourStatus",  
            "text":"hourStatus",  
            "hAlign":"center",  
            "tAlign":"center",
                "hidden":true
            },

            {"name":"createTime",  
            "text":"创建时间",
            "hAlign":"center",  
            "tAlign":"center"  
            },

			{  
                "name":"operation",  
                "text":"操作",  
                "hAlign":"center",  
                "tAlign":"center",  
                "hidden":false,  
                "width":"200",  
                "buttons":[{"label":"结算","event":"edit"}]
			}
        ],  
        "numbercolumn":"true",  
        "pageConfig":{"pageSize":10,"pageNo":1},  
        "rowSelect":"false",  
        "hasPage":"true",  
        "events":[{"event":"rowClick","function":"queryTableClick"},  
                 {"event":"rowDblclick","function":"queryTableDbClick"}]  
       })  
            
    #@window({"title":"编辑窗口", "name":"stmastersitebillEdit", "scroll":true,"width":"750", "height":"450",
            "buttons":[  
                {"label":"结算","event":"saveData()","className":"u-btn-primary"}
            ]})
        #@form({"name":"stmastersitebillEditForm","url":""})  
            #@panel({"cols":2})
			                  #textfield({"label":"stBillId", "name":"stBillId","value":"","defValue":"","check":"required","hidden":true})
			                  #textfield({"label":"应结金额", "name":"settlementAmountBalance","value":"","defValue":"","check":"required","disable":true})
                              #textfield({"label":"结算金额", "name":"settlAmount","value":"","defValue":"0","check":"required;decmal1"})
                #@panel({"cols":1})
                                #upload_group({"name":"annxFile","id":"annxFile", "label":"附件上传", "check": "required;","cols":"3","url":"$appServer/common/upload","savePath":"E:/upload","fileSizeLimit":20,"progressData":"speed","fileTypeExts":"*.jpg;*.gif;*.jpeg;*.png;*.bmp;*.zip;*.rar;*.7z","multi":false,"auto":false,"onUploadSuccess":"onUploadSuccess"})
               #end
                #@panel({"cols":1})
                #datagrid({
                    "id" : "anxFileTable1",
                    "name":"anxFileTable1",
                    "title":"附件列表",
                    "numbercolumn":false,
                    "textOverHidden":false,
                    "rowSelect":"true",
                    "isDragColumn":false,
                    "items":[
                {"name":"fileNo", "text":"附件编号"},
                {"name":"fileName","text":"附件名称"},
                {"name":"branchNo", "text":"操作","showwhenover":"true","buttons":[{"label":"删除","event":"deleteFile","className":"import"}]}
                ]
                ,"data":[]
                })
                #end
        #end
        #end  
    #end  
	
#end
  
  
#jscode()  
    var action = "";
function deleteFile(){
    var selectedData = (Horn.getComp('anxFileTable1').getSelecteds())[0]
    var fileNo = selectedData.fileNo;
    if(!fileNo){
        return;
    }
    var dataArr = Horn.getComp("anxFileTable1").data;
    var newData = [];
    $.each(dataArr,function(index,obj){
        if(obj.fileNo==fileNo){
            dataArr[index]=null;
        }else{
            newData.push(obj);
        }
        Horn.getComp("anxFileTable1").loadData(newData);
    })
}

//附件上传成功
function onUploadSuccess(file, data, response){
    var rs = $.parseJSON(data);
    var returnCode = rs.return_code;
    var returnMsg = rs.return_msg;
    if(returnCode=="10000"){
        var filename = rs.success.fileName;
        uploadAnxFile(filename);
        Horn.getComp("annxFile").reset();
    }else{
      Horn.Tip.warn("附件上传失败");
    }
}

function uploadAnxFile(fileName){
        var fileNo = new Date().getTime();
        var dataArr = Horn.getComp("anxFileTable1").data;
        var length = dataArr.length;
        dataArr[length]={"fileNo":fileNo+"","fileName":fileName};
        Horn.getComp("anxFileTable1").loadData(dataArr);
}


    function edit(rowData){  
        rowDatarowData = rowData || Horn.getComp('stmastersitebillTable').getSelecteds().length && (Horn.getComp('stmastersitebillTable').getSelecteds())[0];  
        Horn.getComp("stmastersitebillEditForm").setValues(rowData.rowdata);
        Horn.getComp("anxFileTable1").loadData([])
        Horn.getComp("stmastersitebillEdit").show();
    }  
      


    function saveData() {  
		var form = $("form[name='stmastersitebillEditForm']")
		var result = Horn.Validate.isFormValidate(form);
		if(!result){
			return;
		}
		Horn.getComp("stmastersitebillEdit").hide();  
    		//JSON.stringify($("form[name='stmastersitebillEditForm']").serializeJSON());
    	var data = $("form[name='stmastersitebillEditForm']").serializeJSON();
            var dataArr = Horn.getComp("anxFileTable1").data;
            var anax = [];
            $.each(dataArr,function(index,obj){
                var fileName = obj.fileName;
                anax[index]=fileName;
            });
        data.anaxNames = JSON.stringify(anax);
    	$.post("${imageServer}/stmastersitebill/settleBill",data,function(backData){
    		if(backData){
    			if(backData.success){
    				 Horn.getComp("stmastersitebillTable").load();  
    				 Horn.Tip.success("结算成功");
    			 }else{
    				Horn.Tip.warn(backData.errorMesg); 
    			 }
    		 }
    	},"json")
    }  
      	function resetSearch(){
			Horn.getComp("stmastersitebillTable").baseParams={};
			 Horn.getComp("stmastersitebillTable").load();  
		}
      
    function queryData() {  
   		 Horn.getComp("stmastersitebillTable").load();  
    }  
#end  