#@screen({"title":"客户端查询"})  
    #@form({"name":"stmastersitebillsearchForm"})  
        #@panel({"title":"查询条件"})  
		   	           #textfield({"label":"账单号 ", "name":"stBillNo ","value":"","defValue":""})
                         #combox({"name":"billStatus","label":"账单状态","value":"","headItem":{"label":"","value":"请选择 ..."},  "dictName": "STMASTER_SITEBILL_STATUS"})
		   	            #button_group({"buttons":[
                {"label":"查询","event":"queryData()","className":"u-btn-primary"}
            ]})
        #end  
    #end  
    #datagrid({  
        "id":"stmastersitebillTable",  
        "name":"stmastersitebillTable",  
        "bindFormName":"stmastersitebillsearchForm",  
        "title":"查询列表",    
        "autoLoad":true,
        "baseParams":{"stId":"$!request.parameterMap.stmasterId[0]"},
        "url":"/stmastersitebill/liststmastersitebill.json",  
        "items":[
            {"name":"stBillId",
            "text":"stBillId",  
            "hAlign":"center",  
            "tAlign":"center",
                "hidden":true
            },

            {"name":"siteId",  
            "text":"siteId",  
            "hAlign":"center",  
            "tAlign":"center" ,
                "hidden":true
            },

            {"name":"stId",  
            "text":"stId",  
            "hAlign":"center",  
            "tAlign":"center" ,
                "hidden":true
            },

            {"name":"stBillNo",  
            "text":"账单号",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"mothOfYear",  
            "text":"账单月",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"weekOfMonth",  
            "text":"账单周次",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementAmount",  
            "text":"应结金额",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementAmountBalance",  
            "text":"未结金额",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"clearAmount",  
            "text":"已结算金额",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"settlementTime",  
            "text":"结算时间",
            "hAlign":"center",  
            "tAlign":"center"  
            },

            {"name":"hourStatus",  
            "text":"hourStatus",  
            "hAlign":"center",  
            "tAlign":"center",
                "hidden":true
            },

            {"name":"createTime",  
            "text":"创建时间",
            "hAlign":"center",  
            "tAlign":"center"  
            },

			{  
                "name":"operation",  
                "text":"操作",  
                "hAlign":"center",  
                "tAlign":"center",  
                "hidden":false,  
                "width":"200",  
                "buttons":[{"label":"结算","event":"edit"}]
			}
        ],  
        "numbercolumn":"true",  
        "pageConfig":{"pageSize":10,"pageNo":1},  
        "rowSelect":"false",  
        "hasPage":"true",  
        "events":[{"event":"rowClick","function":"queryTableClick"},  
                 {"event":"rowDblclick","function":"queryTableDbClick"}]  
       })  
            
    #@window({"title":"编辑窗口", "name":"stmastersitebillEdit", "width":"750", "height":"250",  
            "buttons":[  
                {"label":"结算","event":"saveData()","className":"u-btn-primary"}
            ]})
        #@form({"name":"stmastersitebillEditForm","url":""})  
            #@panel({"cols":2})
			                  #textfield({"label":"stBillId", "name":"stBillId","value":"","defValue":"","check":"required","hidden":true})
			                  #textfield({"label":"应结金额", "name":"settlementAmountBalance","value":"","defValue":"","check":"required","disable":true})
                              #textfield({"label":"结算金额", "name":"settlAmount","value":"","defValue":"0","check":"required;decmal1"})
                                <div class="g-grid-8">
                                    <div id="" paramcacheid="11111" name="1111" class="hc_textfield _text">
                                          <input class="u-textfield m-verify-success" style="width: 400px;" id ="anxFile" type="file">
                                    </div>
                                </div>
                            #button_panel_ex({
                                "buttons" : [
                                    {"label":"附件导入","event":"uploadAnxFile()","refmenu":"test11","className":"import"}
                                    ]
                            })

                #grid({
                    "id" : "anxFileTable1",
                    "name":"anxFileTable1",
                    "title":"附件列表",
                    "numbercolumn":false,
                    "textOverHidden":false,
                    "rowSelect":"true",
                    "isDragColumn":false,
                    "items":[
                {"name":"fileNo", "text":"附件编号"},
                {"name":"fileName","text":"附件名称"},
                {"name":"branchNo", "text":"操作","showwhenover":"true","buttons":[{"label":"删除","event":"deleteFile","className":"import"}]}
                ]
                ,"data":[{"fileNo":"11","fileName":"11.doc"},{"fileNo":"111","fileName":"11.doc"}]
                })
        #end
        #end  
    #end  
	
#end
  
  
#jscode()  
    var action = "";
function deleteFile(){
}
function uploadAnxFile(data){
        var fileNo = new Date().getTime();
        var dataArr = Horn.getComp("anxFileTable1").data;
        var length = dataArr.length;
        dataArr[length]={"fileNo":fileNo+"","fileName":"11.doc"};
        console.log(dataArr);
    Horn.getComp("anxFileTable1").init();
}


    function edit(rowData){  
        rowDatarowData = rowData || Horn.getComp('stmastersitebillTable').getSelecteds().length && (Horn.getComp('stmastersitebillTable').getSelecteds())[0];  
        Horn.getComp("stmastersitebillEditForm").setValues(rowData.rowdata);  
        Horn.getComp("stmastersitebillEdit").show();
    }  
      


    function saveData() {  
		var form = $("form[name='stmastersitebillEditForm']")
		var result = Horn.Validate.isFormValidate(form);
		if(!result){
			return;
		}
		Horn.getComp("stmastersitebillEdit").hide();  
    		//JSON.stringify($("form[name='stmastersitebillEditForm']").serializeJSON());
    	var data = $("form[name='stmastersitebillEditForm']").serializeJSON();
    	$.post("${imageServer}/stmastersitebill/updatestmastersitebill",data,function(backData){
    		if(backData){
    			if(backData.success){
    				 Horn.getComp("stmastersitebillTable").load();  
    				 Horn.Tip.success("更新成功"); 
    			 }else{
    				Horn.Tip.warn(backData.errorMesg); 
    			 }
    		 }
    	},"json")
    }  
      	function resetSearch(){
			Horn.getComp("stmastersitebillTable").baseParams={};
			 Horn.getComp("stmastersitebillTable").load();  
		}
      
    function queryData() {  
   		 Horn.getComp("stmastersitebillTable").load();  
    }  
#end  