package ${package}.dao.impl;

import org.springframework.stereotype.Repository;

import ${package}.${domain}DAOAbstract;

/**
 * 说明:
 * 
 * @version V1.1
 */
@Repository
public class ${domain}DAOImpl extends ${domain}DAOAbstract {


}
