<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	
	<bean id="methodChainManager" class="com.sungan.ad.web.chain.MethodChainManager">
			<property name="methodInterceptors">
				<list>
					<bean class="com.sungan.ad.web.chain.interceptor.impl.FormValidInterceptor"></bean>
				</list>
			</property>
	</bean>
	<bean
		class="com.sungan.ad.web.AdRequestMappingHandlerAdapter">
<!-- 		<property name="customArgumentResolvers"> -->
<!-- 			<list> -->
<!-- 				<bean class="com.sungan.ad.web.databind.DateArgumentResolver"></bean> -->
<!-- 			</list> -->
<!-- 		</property> -->
		<property name="messageConverters">
			<list>
				<bean
					class="com.sungan.ad.controller.interceptor.UTF8StringHttpMessageConverter"></bean>
				<bean
					class="org.springframework.http.converter.ByteArrayHttpMessageConverter"></bean>
				<bean
					class="org.springframework.http.converter.support.AllEncompassingFormHttpMessageConverter"></bean>
				<bean
					class="org.springframework.http.converter.xml.SourceHttpMessageConverter"></bean>
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
			</list>
		</property>
		<property name="methodChainManager" ref="methodChainManager"></property>
	</bean>
	<context:property-placeholder location="classpath:application.properties" />
	<!--注解驱动写在最后面，否则对用<bean>标签定的属性有影响 -->
	<mvc:annotation-driven />
	<!-- 注解的扫描器 -->
	<context:component-scan base-package="com.sungan.ad.controller" />


	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.sungan.ad.controller.interceptor.JsonInterceptor">
				<property name="showHead" value="${ad.web.showhead}"></property>
			</bean>
		</mvc:interceptor>
		<!-- 登录拦截器 -->
<!-- 		<mvc:interceptor> -->
<!-- 			<mvc:mapping path="/**" /> -->
<!-- 			  放通portal页面 -->  
<!-- 			<mvc:exclude-mapping path="/cm/**" /> -->
<!-- 			<mvc:exclude-mapping path="/client/apploader**" /> -->
<!-- 			<mvc:exclude-mapping path="/client/initconnector**" /> -->
<!-- 			<mvc:exclude-mapping path="/client/info**" /> -->
<!-- 			<mvc:exclude-mapping path="/login.htm**" /> -->
<!-- 			 微信 相关  --> 
<!-- 			<mvc:exclude-mapping path="/wx/sungan/**" /> -->
			
<!-- 			<mvc:exclude-mapping path="/static/**" /> -->
<!-- 			<mvc:exclude-mapping path="/components/**" /> -->
<!-- 			<mvc:exclude-mapping path="/css/**" /> -->
<!-- 			<mvc:exclude-mapping path="/imges/**" /> -->
<!-- 			<mvc:exclude-mapping path="/plugins/**" /> -->
<!-- 			<mvc:exclude-mapping path="/scripts/**" /> -->
<!-- 			<bean class="com.sungan.ad.controller.interceptor.LoginInterceptor"> -->
<!-- 				<property name="isMock" value="${ad.mock}"></property> -->
<!-- 			</bean> -->
<!-- 		</mvc:interceptor> -->
	</mvc:interceptors>

	<!-- 配置静态资源 -->
	<mvc:resources mapping="/static/**" location="/static/" />
	<mvc:resources mapping="/components/**" location="/components/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/imges/**" location="/images/" />
	<mvc:resources mapping="/plugins/**" location="/plugins/" />
	<mvc:resources mapping="/scripts/**" location="/scripts/" />
	
	<bean id="exceptionMessageAdapter"
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver">
		<property name="messageConverters">
			<list>
				<!-- Support JSON -->
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1000001024" />
	</bean>
	<bean id="adHandlerExceptionResolver"
		class="com.sungan.ad.controller.interceptor.AdHandlerExceptionResolver">
	</bean>
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀，前后必须要有,Spring会到相应的目录下找对应的后缀文件进行响应/ -->
		<property name="prefix" value="/WEB-INF/views/"></property>
		<!-- 后缀，必须 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>





