#set($frame={
	"lock":false,
	"logo":{"title":"$!{title}","img":"${imageServer}/css/${theme}/img/logo.png"}
	,"toolbar":{"items":[
		{"title":"收件箱","icon":"envelope","onclick":"","num":5}
		,{"title":"锁屏","icon":"lock","onclick":"index.lockWin()"}
		,{"title":"系统管理员","icon":"user","onclick":"","items":[
		{"title":"修改密码","onclick":"updatePassword()"},
		{"title":"编辑资料","onclick":"index.editInfo()"}
		]}
		,{"title":"退出","icon":"sign-out","onclick":"index.exit()"}
	]}
	,"screen":{
		"limit":10,
		"homePage":{"title":"欢迎使用","icon":"home fa fa-home","url":"${appServer}/task/listapptask.htm"}
		,"tools":[{"title":"宽松版","url":"${appServer}/home.htm?theme=horn"},{"title":"经典灰","url":"${appServer}/home.htm?theme=classic"},{"title":"紧凑版","url":"${appServer}/home.htm?theme=mini"}]
	}
	,"navigation":{"items":[
		{"id":"30","title":"主页","icon":"home"}
		,{"id":"10","title":"客户端","icon":"th-large"}
		,{"id":"20","title":"微信","icon":"th-large"}
	]}
	,"menu":{"items":[
		{"id":"30","title":"主页","items":[
			{"id":"301","title":"信息","url":""}
		]}
		,{"id":"10","title":"客户端","items":[
			{"id":"101","title":"客户端详细","icon":"user fa fa-laptop","items":[
				{"id":"10101","title":"客户端列表","url":"${appServer}/app/listclient.htm"}
				,{"id":"10102","title":"任务列表","url":"${appServer}/task/listtask.htm"}
				,{"id":"10103","title":"任务权重","url":"${appServer}/task/listweight.htm"}
			]}
			,{"id":"102","title":"报表","icon":"th-list fa fa-suitcase","items":[
				{"id":"10201","title":"表单与校验","url":"${appServer}/demo/view/form/validForm.htm"}
				,{"id":"10208","title":"标签页","url":"${appServer}/demo/view/form/tabForm.htm"}
			]}
			
		]}
		,{"id":"20","title":"微信","items":[
			{"id":"201","title":"微信报文","icon":"file fa fa-laptop","items":[
				{"id":"20100","title":"微信内含列表","url":"${appServer}/wx/list/usermsg"}
				,{"id":"20101","title":"微信内容","url":"${appServer}/wx/adcontent.htm"}
				,{"id":"20102","title":"添加","url":"${appServer}/wx/tousermsg"}
				,{"id":"20103","title":"appid列表","url":"${appServer}/wx/appid/list"}
				,{"id":"20104","title":"微信号添加","url":"${appServer}/wx/appid/toput"}
				,{"id":"20105","title":"说明","url":"${appServer}/doc/symbols/Horn.Validate.html"}
			]}
			,{"id":"202","title":"微信用户","icon":"inbox fa fa-suitcase","items":[
				{"id":"20201","title":"面板Panel","url":""}
				,{"id":"20202","title":"标签面板TabPanel","url":""}
			]}
			
		]}
	]}
})
#@screen()
	
#end
#@window({"name":"lock","closeable":false,"title":"输入解锁密码","width":"300","height":"100","buttons":[{"label":"确定","className":"u-btn-primary","event":"index.lockSubmit()"}]})
	    #@panel({"cols":1})
				#@form({"url":"","name":"lockForm"})
				#password({"emptyText":"请输入解锁密码", "id":"lock_vc_op_password","name":"vc_op_password","check": "required;","hiddenLabel":false})
			#end		
		#end
#end
    
    
    #@window({"name":"updatePassword","closeable":true,"title":"密码修改","width":"500","height":"200","buttons":[{"label":"确定","className":"u-btn-primary","event":"index.updatePassword()"}]})
	   
			#@form({"url":"","name":"updatePaForm"})
				#@panel({"cols":1})
					#password({"emptyText":"旧密码：", "name":"vc_op_password_old","check":"required;Stringreg.reg_string(16,6)","hiddenLabel":false})
					#password({"emptyText":"新密码：", "name":"vc_op_password_new","check":"required;Stringreg.reg_string(16,6)","hiddenLabel":false})
					#password({"emptyText":"确认密码：", "name":"c_password_confirm","check":"required;Stringreg.reg_string(16,6)","hiddenLabel":false})
				#end
			#end	
    #end
    
    ## 修改窗口
	#@window({"title":"用户信息设置", "name":"editWin","id":"editWin", "width":"800", "height":"270","buttons":[  
                {"label":"确定","className":"u-btn-primary","event":"index.doEdit()"},  
                {"label":"取消","event":"query_operate.closeWin('editWin')"}  
            ]})  
        #@form({"name":"editForm","postName": false})  
            #@panel({"cols":3})  
       			#combox({"id":"vc_branch_id","name":"vc_branch_id","label":"部门编号","showLabel":"true", "check": "required","readonly":"true","cols":1})
				#textfield({"label":"用户编号", "name":"vc_op_code","check": "required","readonly":"true"})	
				#textfield({"label":"用户名称", "name":"vc_op_name","check": "required;","cols":1})	
				#textfield({"label":"用户别名", "name":"vc_bm_name","check": "","cols":1})	
				#hidden({"id":"c_op_status","name":"c_op_status","alias":"c_op_status","value":"1","cols":1})  
				#textfield({"id":"vc_op_phoneno","label":"手机号码", "name":"vc_op_phoneno","check":"mobile","cols":1})
				#textfield({"label":"联系地址", "name":"vc_op_address","check": "Stringreg.reg_string(36)","cols":1})
				#textfield({"id":"vc_op_email","label":"电子邮件", "name":"vc_op_email","check":"email","cols":1})
            #end  
        #end    
	#end
#jscode()
   Horn.Frame.lockFun=function(){
	Horn.getComp("lock").show();
	Horn.getComp("lockForm").reset();
	$("div[name=lock] > div:eq(1)").css("height",80);
	}

	function updatePassword(){
		Horn.getComp("updatePassword").show();
	}

#end
