#set($frame={
	"lock":false,
	"logo":{"title":"$!{title}","img":"${imageServer}/css/${theme}/img/logo.png"}
	,"toolbar":{"items":[
		{"title":"收件箱","icon":"envelope","onclick":"","num":5}
		,{"title":"锁屏","icon":"lock","onclick":"index.lockWin()"}
		,{"title":"系统管理员","icon":"user","onclick":"","items":[
		{"title":"修改密码","onclick":"updatePassword()"},
		{"title":"编辑资料","onclick":"index.editInfo()"}
		]}
		,{"title":"退出","icon":"sign-out","onclick":"index.exit()"}
	]}
	,"screen":{
		"limit":10,
		"homePage":{"title":"欢迎使用","icon":"home fa fa-home","url":"${appServer}/static/home.html"}
		,"tools":[{"title":"宽松版","url":"${appServer}/home.htm?theme=horn"},{"title":"经典灰","url":"${appServer}/home.htm?theme=classic"},{"title":"紧凑版","url":"${appServer}/home.htm?theme=mini"}]
	}
	,"navigation":{"items":[
		{"id":"90","title":"主页","icon":"home"}
		,{"id":"10","title":"用户管理","icon":"th-large"}
		,{"id":"20","title":"广告主","icon":"th-large"}
		,{"id":"30","title":"站长","icon":"th-large"}
		,{"id":"40","title":"系统管理","icon":"th-large"}
	]}
	,"menu":{"items":[
		{"id":"90","title":"主页","items":[
			{"id":"001","title":"面版信息","url":""}
		]}
		,{"id":"10","title":"用户管理","items":[
			{"id":"101","title":"广告主列表","url":"${appServer}/user/adhost.htm"}
			,{"id":"102","title":"站长列表","url":"${appServer}/user/stmaster.htm"}
			,{"id":"103","title":"站长黑名单","url":"${appServer}/user/black_stmaster.htm"}
			,{"id":"104","title":"接待员","url":"${appServer}/user/reception.htm"}
		]}
		,{"id":"20","title":"广告主","items":[
				{"id":"201","title":"账户管理","url":"${appServer}/adhost/adhostaccount.htm"}
				,{"id":"202","title":"允值订单","url":"${appServer}/adhost/adhostaccountpayorder.htm"}
				,{"id":"203","title":"广告订单","url":"${appServer}/adhost/adhostaccountadorder.htm"}
				,{"id":"204","title":"广告流水","url":"${appServer}/adhost/"}
				,{"id":"205","title":"广告流量","url":"${appServer}/adhost/adhostaccountadordershowcunt.htm"}
				,{"id":"206","title":"报表","url":""}
		]}
		,{"id":"30","title":"站长","items":[
				{"id":"301","title":"账户管理","url":"${appServer}/stmaster/stmasteraccount.htm"}
				,{"id":"302","title":"账单","url":"${appServer}/stmaster/stmastersitebill.htm"}
				,{"id":"303","title":"日流水","url":"${appServer}/stmaster/"}
				,{"id":"304","title":"周流水","url":"${appServer}/stmaster/"}
				,{"id":"304","title":"代码管理","url":"${appServer}/stmaster/"}
				,{"id":"304","title":"报表","url":""}
		]}
		,{"id":"40","title":"站长","items":[
				{"id":"401","title":"系统参数","url":""}
				,{"id":"402","title":"产品设置","url":""}
		]}
	]}
})
#@screen()
	
#end
#@window({"name":"lock","closeable":false,"title":"输入解锁密码","width":"300","height":"100","buttons":[{"label":"确定","className":"u-btn-primary","event":"index.lockSubmit()"}]})
	    #@panel({"cols":1})
				#@form({"url":"","name":"lockForm"})
				#password({"emptyText":"请输入解锁密码", "id":"lock_vc_op_password","name":"vc_op_password","check": "required;","hiddenLabel":false})
			#end		
		#end
#end
    
    
    #@window({"name":"updatePassword","closeable":true,"title":"密码修改","width":"500","height":"200","buttons":[{"label":"确定","className":"u-btn-primary","event":"index.updatePassword()"}]})
	   
			#@form({"url":"","name":"updatePaForm"})
				#@panel({"cols":1})
					#password({"emptyText":"旧密码：", "name":"vc_op_password_old","check":"required;Stringreg.reg_string(16,6)","hiddenLabel":false})
					#password({"emptyText":"新密码：", "name":"vc_op_password_new","check":"required;Stringreg.reg_string(16,6)","hiddenLabel":false})
					#password({"emptyText":"确认密码：", "name":"c_password_confirm","check":"required;Stringreg.reg_string(16,6)","hiddenLabel":false})
				#end
			#end	
    #end
    
    ## 修改窗口
	#@window({"title":"用户信息设置", "name":"editWin","id":"editWin", "width":"800", "height":"270","buttons":[  
                {"label":"确定","className":"u-btn-primary","event":"index.doEdit()"},  
                {"label":"取消","event":"query_operate.closeWin('editWin')"}  
            ]})  
        #@form({"name":"editForm","postName": false})  
            #@panel({"cols":3})  
       			#combox({"id":"vc_branch_id","name":"vc_branch_id","label":"部门编号","showLabel":"true", "check": "required","readonly":"true","cols":1})
				#textfield({"label":"用户编号", "name":"vc_op_code","check": "required","readonly":"true"})	
				#textfield({"label":"用户名称", "name":"vc_op_name","check": "required;","cols":1})	
				#textfield({"label":"用户别名", "name":"vc_bm_name","check": "","cols":1})	
				#hidden({"id":"c_op_status","name":"c_op_status","alias":"c_op_status","value":"1","cols":1})  
				#textfield({"id":"vc_op_phoneno","label":"手机号码", "name":"vc_op_phoneno","check":"mobile","cols":1})
				#textfield({"label":"联系地址", "name":"vc_op_address","check": "Stringreg.reg_string(36)","cols":1})
				#textfield({"id":"vc_op_email","label":"电子邮件", "name":"vc_op_email","check":"email","cols":1})
            #end  
        #end    
	#end
#jscode()
   Horn.Frame.lockFun=function(){
	Horn.getComp("lock").show();
	Horn.getComp("lockForm").reset();
	$("div[name=lock] > div:eq(1)").css("height",80);
	}

	function updatePassword(){
		Horn.getComp("updatePassword").show();
	}

#end
