<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<link href="$!rc.contextPath/static/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
<link href="$!rc.contextPath/static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
<link href="$!rc.contextPath/static/data/styles.css" type="text/css" rel="stylesheet"/>
<link href="$!rc.contextPath/static/files/home/styles.css" type="text/css" rel="stylesheet"/>
<script src="$!rc.contextPath/static/resources/scripts/jquery-1.7.1.min.js"></script>
<script src="$!rc.contextPath/static/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>