<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    #parse("common/commonhead.vm")
  </head>
  <body>
        <!-- Unnamed (Rectangle) -->
        <div id="u1" class="shape">
          <div id="u1_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u3" class="shape">
          <div id="u3_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u4" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5" class="shape">
          <div id="u5_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u6" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7" class="shape">
          <div id="u7_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8" class="text">
            <p><span>LOGO</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9" class="shape">
          <div id="u9_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u10" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u11" class="image">
          <img id="u11_img" class="img " src="$!rc.contextPath/static/images/home/u11.png"/>
          <!-- Unnamed () -->
          <div id="u12" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u13" class="shape">
          <div id="u13_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u14" class="text">
            <p><span>主页</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u15" class="shape">
          <div id="u15_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u16" class="text">
            <p><span>账务管理</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u17" class="shape">
          <div id="u17_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u18" class="text">
            <p><span>代码管理</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u19" class="shape">
          <div id="u19_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u20" class="text">
            <p><span>消息</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u21" class="shape">
          <div id="u21_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u22" class="text">
            <p><span>帮助</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u23" class="shape">
          <div id="u23_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u24" class="text">
            <p><span>Jay.Liu</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u25" class="">
          <div id="u25_state0" class="panel_state" data-label="State1">
            <div id="u25_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u26" class="">
          <div id="u26_state0" class="panel_state" data-label="State1">
            <div id="u26_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u27" class="">
          <div id="u27_state0" class="panel_state" data-label="State1">
            <div id="u27_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u28" class="">
          <div id="u28_state0" class="panel_state" data-label="State1">
            <div id="u28_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u29" class="shape">
          <div id="u29_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u30" class="text">
            <p><span style="color:#999999;">面包屑／面包屑／</span><span style="color:#666666;">面包屑</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u31" class="" data-width="842" data-height="360">

          <!-- Unnamed (Rectangle) -->
          <div id="u32" class="box_1">
            <div id="u32_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u33" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u34" class="heading_11">
            <div id="u34_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u35" class="text">
              <p><span>近一周活动发布</span></p>
            </div>
          </div>

          <!-- Unnamed (Horizontal Line) -->
          <div id="u36" class="line">
            <img id="u36_img" class="img " src="$!rc.contextPath/static/images/home/u36.png"/>
            <!-- Unnamed () -->
            <div id="u37" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u38" class="line">
            <img id="u38_img" class="img " src="$!rc.contextPath/static/images/home/u38.png"/>
            <!-- Unnamed () -->
            <div id="u39" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u40" class="heading_11">
            <div id="u40_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u41" class="text">
              <p><span>60</span></p><p><span>45</span></p><p><span>30</span></p><p><span>15</span></p><p><span>0</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u42" class="" data-width="663" data-height="24">

            <!-- Unnamed (Group) -->
            <div id="u43" class="" data-width="58" data-height="24">

              <!-- Unnamed (Rectangle) -->
              <div id="u44" class="heading_11">
                <div id="u44_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u45" class="text">
                  <p><span>10-23周日</span></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u46" class="line">
                <img id="u46_img" class="img " src="$!rc.contextPath/static/images/home/u46.png"/>
                <!-- Unnamed () -->
                <div id="u47" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u48" class="" data-width="58" data-height="24">

              <!-- Unnamed (Rectangle) -->
              <div id="u49" class="heading_11">
                <div id="u49_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u50" class="text">
                  <p><span>10-29周六</span></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u51" class="line">
                <img id="u51_img" class="img " src="$!rc.contextPath/static/images/home/u46.png"/>
                <!-- Unnamed () -->
                <div id="u52" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u53" class="" data-width="58" data-height="24">

              <!-- Unnamed (Rectangle) -->
              <div id="u54" class="heading_11">
                <div id="u54_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u55" class="text">
                  <p><span>10-24周一</span></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u56" class="line">
                <img id="u56_img" class="img " src="$!rc.contextPath/static/images/home/u46.png"/>
                <!-- Unnamed () -->
                <div id="u57" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u58" class="" data-width="58" data-height="24">

              <!-- Unnamed (Rectangle) -->
              <div id="u59" class="heading_11">
                <div id="u59_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u60" class="text">
                  <p><span>10-25周二</span></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u61" class="line">
                <img id="u61_img" class="img " src="$!rc.contextPath/static/images/home/u46.png"/>
                <!-- Unnamed () -->
                <div id="u62" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u63" class="" data-width="51" data-height="24">

              <!-- Unnamed (Rectangle) -->
              <div id="u64" class="heading_11">
                <div id="u64_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u65" class="text">
                  <p><span>10-6周三</span></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u66" class="line">
                <img id="u66_img" class="img " src="$!rc.contextPath/static/images/home/u46.png"/>
                <!-- Unnamed () -->
                <div id="u67" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u68" class="" data-width="58" data-height="24">

              <!-- Unnamed (Rectangle) -->
              <div id="u69" class="heading_11">
                <div id="u69_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u70" class="text">
                  <p><span>10-27周四</span></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u71" class="line">
                <img id="u71_img" class="img " src="$!rc.contextPath/static/images/home/u46.png"/>
                <!-- Unnamed () -->
                <div id="u72" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u73" class="" data-width="58" data-height="24">

              <!-- Unnamed (Rectangle) -->
              <div id="u74" class="heading_11">
                <div id="u74_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u75" class="text">
                  <p><span>10-28周五</span></p>
                </div>
              </div>

              <!-- Unnamed (Vertical Line) -->
              <div id="u76" class="line">
                <img id="u76_img" class="img " src="$!rc.contextPath/static/images/home/u46.png"/>
                <!-- Unnamed () -->
                <div id="u77" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u78" class="" data-width="628" data-height="180">

            <!-- Unnamed (Shape) -->
            <div id="u79" class="icon">
              <img id="u79_img" class="img " src=$!rc.contextPath/static/"images/home/u79.png"/>
              <!-- Unnamed () -->
              <div id="u80" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u81" class="icon">
              <img id="u81_img" class="img " src="$!rc.contextPath/static/images/home/u81.png"/>
              <!-- Unnamed () -->
              <div id="u82" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u83" class="" data-width="78" data-height="75">

            <!-- Unnamed (Shape) -->
            <div id="u84" class="shape">
              <img id="u84_img" class="img " src="$!rc.contextPath/static/images/home/u84.png"/>
              <!-- Unnamed () -->
              <div id="u85" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u86" class="heading_11">
              <div id="u86_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u87" class="text">
                <p><span>2016-07-12 </span></p>
              </div>
            </div>

            <!-- Unnamed (Paragraph) -->
            <div id="u88" class="paragraph1">
              <img id="u88_img" class="img " src="$!rc.contextPath/static/images/home/u88.png"/>
              <!-- Unnamed () -->
              <div id="u89" class="text">
                <p><span>62</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u90" class="" data-width="375" data-height="28">

            <!-- Unnamed (Group) -->
            <div id="u91" class="" data-width="226" data-height="28">

              <!-- Unnamed (Group) -->
              <div id="u92" class="" data-width="226" data-height="28">

                <!-- Unnamed (Rectangle) -->
                <div id="u93" class="shape">
                  <div id="u93_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u94" class="text">
                    <p><span style="color:#666666;">2015-10-23 </span><span style="color:#999999;">~</span><span style="color:#666666;"> 2015-10-29</span></p>
                  </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u95" class="image">
                  <img id="u95_img" class="img " src="$!rc.contextPath/static/images/home/u95.png"/>
                  <!-- Unnamed () -->
                  <div id="u96" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u97" class="" data-width="119" data-height="18">

              <!-- Unnamed (Rectangle) -->
              <div id="u98" class="heading_11">
                <div id="u98_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u99" class="text">
                  <p><span>本周</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u100" class="heading_11">
                <div id="u100_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u101" class="text">
                  <p><span>今日</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u102" class="heading_11">
                <div id="u102_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u103" class="text">
                  <p><span>本月</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u104" class="" data-width="6" data-height="190">

            <!-- Unnamed (Vertical Line) -->
            <div id="u105" class="line">
              <img id="u105_img" class="img " src="$!rc.contextPath/static/images/home/u105.png"/>
              <!-- Unnamed () -->
              <div id="u106" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Ellipse) -->
            <div id="u107" class="shape">
              <img id="u107_img" class="img " src="$!rc.contextPath/static/images/home/u107.png"/>
              <!-- Unnamed () -->
              <div id="u108" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u109" class="" data-width="157" data-height="50">

            <!-- Unnamed (Rectangle) -->
            <div id="u110" class="heading_11">
              <div id="u110_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u111" class="text">
                <p><span>累计发布活动数</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u112" class="heading_11">
              <div id="u112_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u113" class="text">
                <p><span>4320</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u114" class="" data-width="157" data-height="50">

            <!-- Unnamed (Rectangle) -->
            <div id="u115" class="heading_11">
              <div id="u115_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u116" class="text">
                <p><span>本周上新活动数</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u117" class="heading_11">
              <div id="u117_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u118" class="text">
                <p><span>342</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u119" class="" data-width="79" data-height="14">

            <!-- Unnamed (Rectangle) -->
            <div id="u120" class="heading_11">
              <div id="u120_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u121" class="text">
                <p><span>同比上周</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u122" class="icon">
              <img id="u122_img" class="img " src="$!rc.contextPath/static/images/home/u122.png"/>
              <!-- Unnamed () -->
              <div id="u123" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u124" class="heading_11">
              <div id="u124_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u125" class="text">
                <p><span>10%</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Vertical Line) -->
          <div id="u126" class="line">
            <img id="u126_img" class="img " src="$!rc.contextPath/static/images/home/u126.png"/>
            <!-- Unnamed () -->
            <div id="u127" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u128" class="" data-width="79" data-height="14">

            <!-- Unnamed (Rectangle) -->
            <div id="u129" class="heading_11">
              <div id="u129_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u130" class="text">
                <p><span>同比上周</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u131" class="icon">
              <img id="u131_img" class="img " src="$!rc.contextPath/static/images/home/u131.png"/>
              <!-- Unnamed () -->
              <div id="u132" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u133" class="heading_11">
              <div id="u133_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u134" class="text">
                <p><span>10%</span></p>
              </div>
            </div>
          </div>

        <!--提示框开始-->
      <div style="float: left">
        <!-- Unnamed (ctangle) -->
        <div id="u268" class="shape">
            <div id="u268_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u269" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u270" class="" data-width="0" data-height="0">
        </div>

        <!-- Unnamed (Triangle Down) -->
        <div id="u271" class="shape">
            <img id="u271_img" class="img " src="$!rc.contextPath/static/images/home/u207.png"/>
            <!-- Unnamed () -->
            <div id="u272" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Triangle Down) -->
        <div id="u273" class="shape">
            <img id="u273_img" class="img " src="$!rc.contextPath/static/images/home/u209.png"/>
            <!-- Unnamed () -->
            <div id="u274" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u275" class="" data-width="0" data-height="0">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u276" class="paragraph1">
            <div id="u276_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u277" class="text">
                <p><span>这是一段文字内容这是一段文字内容哟有时候内容会超出长度</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u278" class="paragraph1">
            <div id="u278_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u279" class="text">
                <p><span>2016-01-25 12:23</span></p>
            </div>
        </div>

        <!-- Unnamed (Horizontal Line) -->
        <div id="u280" class="line">
            <img id="u280_img" class="img " src="$!rc.contextPath/static/images/home/u219.png"/>
            <!-- Unnamed () -->
            <div id="u281" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u282" class="paragraph1">
            <div id="u282_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u283" class="text">
                <p><span>消息</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u284" class="" data-width="0" data-height="0">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u285" class="paragraph1">
            <div id="u285_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u286" class="text">
                <p><span>这是一段文字内容这是一段文字内容</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u287" class="paragraph1">
            <div id="u287_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u288" class="text">
                <p><span>2016-01-25 12:23</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u289" class="" data-width="0" data-height="0">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u290" class="paragraph1">
            <div id="u290_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u291" class="text">
                <p><span>这是一段文字内容这是一段文字内容</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u292" class="paragraph1">
            <div id="u292_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u293" class="text">
                <p><span>2016-01-25 12:23</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u294" class="" data-width="0" data-height="0">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u295" class="paragraph1">
            <div id="u295_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u296" class="text">
                <p><span>这是一段文字内容这是一段文字内容</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u297" class="paragraph1">
            <div id="u297_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u298" class="text">
                <p><span>2016-01-25 12:23</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u299" class="" data-width="0" data-height="0">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u300" class="paragraph1">
            <div id="u300_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u301" class="text">
                <p><span>这是一段文字内容这是一段文字内容</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u302" class="paragraph1">
            <div id="u302_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u303" class="text">
                <p><span>2016-01-25 12:23</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u304" class="" data-width="0" data-height="0">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u305" class="paragraph1">
            <div id="u305_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u306" class="text">
                <p><span>这是一段文字内容这是一段文字内容</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u307" class="paragraph1">
            <div id="u307_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u308" class="text">
                <p><span>2016-01-25 12:23</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u309" class="" data-width="0" data-height="0">
        </div>

        <!-- Unnamed (Horizontal Line) -->
        <div id="u310" class="line">
            <img id="u310_img" class="img " src="$!rc.contextPath/static/images/home/u219.png"/>
            <!-- Unnamed () -->
            <div id="u311" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u312" class="heading_11">
            <div id="u312_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u313" class="text">
                <p><span>查看所有消息</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u314" class="heading_11">
            <div id="u314_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u315" class="text">
                <p><span>全部设为已读</span></p>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
