<!DOCTYPE html>
<html>
  <head>
    <title>Page 3</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/page_3/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/page_3/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Group) -->
      <div id="u399" class="ax_default" data-width="1440" data-height="860">

        <!-- Unnamed (Rectangle) -->
        <div id="u400" class="ax_default shape">
          <div id="u400_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u401" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u402" class="ax_default shape">
          <div id="u402_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u403" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u404" class="ax_default shape">
          <div id="u404_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u405" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u406" class="ax_default shape">
          <div id="u406_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u407" class="text">
            <p><span>LOGO</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u408" class="ax_default shape">
          <div id="u408_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u409" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u410" class="ax_default image">
          <img id="u410_img" class="img " src="images/home/u11.png"/>
          <!-- Unnamed () -->
          <div id="u411" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u412" class="ax_default shape">
          <div id="u412_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u413" class="text">
            <p><span>主页</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u414" class="ax_default shape">
          <div id="u414_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u415" class="text">
            <p><span>账户详细</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u416" class="ax_default shape">
          <div id="u416_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u417" class="text">
            <p><span>充值记录</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u418" class="ax_default shape">
          <div id="u418_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u419" class="text">
            <p><span>帮助</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u420" class="ax_default shape">
          <div id="u420_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u421" class="text">
            <p><span>Jay.Liu</span></p>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u422" class="ax_default">
          <div id="u422_state0" class="panel_state" data-label="State1">
            <div id="u422_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u423" class="ax_default">
          <div id="u423_state0" class="panel_state" data-label="State1">
            <div id="u423_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u424" class="ax_default">
          <div id="u424_state0" class="panel_state" data-label="State1">
            <div id="u424_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u425" class="ax_default">
          <div id="u425_state0" class="panel_state" data-label="State1">
            <div id="u425_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u426" class="ax_default shape">
          <div id="u426_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u427" class="text">
            <p><span style="color:#999999;">面包屑／面包屑／</span><span style="color:#666666;">面包屑</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
